@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #333;
  line-height: 1.5;
}

p {
  margin-bottom: 1em;
}

svg {
  stroke: var(--text-color);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "space grotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: var(--text-color);
}
